<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11508677836-nb0pg83bl6hlkg3u1akcu2argk27i6fd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11508677836-nb0pg83bl6hlkg3u1akcu2argk27i6fd</string>
	<key>API_KEY</key>
	<string>AIzaSyAdP8ApCbhjz5Vnn6ITGQmvMRsUUsAB2WE</string>
	<key>GCM_SENDER_ID</key>
	<string>11508677836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.GOOUT</string>
	<key>PROJECT_ID</key>
	<string>goout-b9706</string>
	<key>STORAGE_BUCKET</key>
	<string>goout-b9706.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11508677836:ios:93118092a5fb8b19119669</string>
</dict>
</plist>